.contant {
  margin-top: 100px;
}

.title {
  margin-bottom: 50px;
}

.photo {
  padding-left: 15px;
}

.photo img {
  width: 150px;
  height: 180px;
}

.info {
  margin-bottom: 30px;
}

.product {
  display: inline-block;
  flex-direction: row;
  width: 245px;
  border: 1px solid #ffff;
  align-items: center;
  text-align: left;
  padding: 25px 25px;
  margin-bottom: 30px;
  box-sizing: border-box;
  transition: box-shadow 0.15s ease-in-out 0s;
}

.product:hover {
  border: 1px solid #ffff;
  background-color: #ffff;
  box-shadow:
    0 0 6px #bbbbbb,
    0 0 8px #dddddd,
    0 0 12px #ffff;
}

.card {
  color: #2D2D2D;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  color: #4C708F;
}

.name {
  font-size: 18px;
  height: 80px;
  margin-top: 10px;
}

.price {
  font-size: 22px;
  font-weight: 500;
}